@model IEnumerable<ThesisDatenbank.Models.Thesis>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .thesis:hover {
        background-color: #DCDCDC;
    }

    .hidden {
        display: none;
        background-color: #F5F5F5;
    }
</style>

<h1>Themenvorschläge für eine Thesis</h1>
<hr />
@using (Html.BeginForm("Index", "Overview", FormMethod.Get))
{
    <div class="col-md-4">
        <div class="mb-3">
            <label for="ChairFilter" class="form-label">Nach Lehrstuhl filtern:</label>
            <select name="ChairFilter" id="ChairFilter" class="form-control" asp-items="ViewBag.ChairFilter">
                <option value="">--- Nicht Filtern ---</option>
            </select>
        </div>
        <div class="mb-3">
            <input type="submit" value="Filter anwenden" class="btn btn-primary" />
        </div>
    </div>
}
<hr />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                E-Mail-Adresse des Betreuers
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="thesis" onclick="toggleRow(@item.Id)">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supervisor.FirstName) @Html.DisplayFor(modelItem => item.Supervisor.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supervisor.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
            <tr class="hidden" id="@item.Id">
                <td colspan="4">
                    <b>Themenbeschreibung:</b> @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        function toggleRow(row) {
            $("#" + row).toggle();
        };
    </script>
}
