@model ThesisDatenbank.Models.Thesis

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<style>
    h1 {
        font: 28px Arial, sans-serif;
        font-weight: bold;
        text-align: center;
        padding: 14px;
    }

    table {
        margin: auto;
    }

    table, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
        font: 14px Arial, sans-serif;
    }

    td:nth-child(odd) {
        background-color: lightgrey;
        font-weight: bold;
    }

    td:nth-child(even) {
        min-width: 300px;
    }
</style>

<h1>Gutachten der Thesis "@Html.DisplayFor(model => model.Title)"</h1>
<table>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Title)</td>
        <td>@Html.DisplayFor(model => model.Title)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Supervisor)</td>
        <td>@Html.DisplayFor(model => model.Supervisor.FirstName) @Html.DisplayFor(model => model.Supervisor.LastName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StudentName)</td>
        <td>@Html.DisplayFor(model => model.StudentName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StudentId)</td>
        <td>@Html.DisplayFor(model => model.StudentId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StudentProgram)</td>
        <td>@Html.DisplayFor(model => model.StudentProgram.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Registration)</td>
        <td>@Html.DisplayFor(model => model.Registration)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Filing)</td>
        <td>@Html.DisplayFor(model => model.Filing)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Summary)</td>
        <td>@Html.DisplayFor(model => model.Summary)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Strengths)</td>
        <td>@Html.DisplayFor(model => model.Strengths)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Weaknesses)</td>
        <td>@Html.DisplayFor(model => model.Weaknesses)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Evaluation)</td>
        <td>@Html.DisplayFor(model => model.Evaluation)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ContentVal)</td>
        <td>@Html.DisplayFor(model => model.ContentVal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.LayoutVal)</td>
        <td>@Html.DisplayFor(model => model.LayoutVal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StructureVal)</td>
        <td>@Html.DisplayFor(model => model.StructureVal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StyleVal)</td>
        <td>@Html.DisplayFor(model => model.StyleVal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.LiteratureVal)</td>
        <td>@Html.DisplayFor(model => model.LiteratureVal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.DifficultyVal)</td>
        <td>@Html.DisplayFor(model => model.DifficultyVal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.NoveltyVal)</td>
        <td>@Html.DisplayFor(model => model.NoveltyVal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RichnessVal)</td>
        <td>@Html.DisplayFor(model => model.RichnessVal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ContentWt)</td>
        <td>@Html.DisplayFor(model => model.ContentWt) %</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.LayoutWt)</td>
        <td>@Html.DisplayFor(model => model.LayoutWt) %</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StructureWt)</td>
        <td>@Html.DisplayFor(model => model.StructureWt) %</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StyleWt)</td>
        <td>@Html.DisplayFor(model => model.StyleWt) %</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.LiteratureWt)</td>
        <td>@Html.DisplayFor(model => model.LiteratureWt) %</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.DifficultyWt)</td>
        <td>@Html.DisplayFor(model => model.DifficultyWt) %</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.NoveltyWt)</td>
        <td>@Html.DisplayFor(model => model.NoveltyWt) %</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RichnessWt)</td>
        <td>@Html.DisplayFor(model => model.RichnessWt) %</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Grade)</td>
        <td>@Html.DisplayFor(model => model.Grade)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.LastModified)</td>
        <td>@Html.DisplayFor(model => model.LastModified)</td>
    </tr>
</table>
