@model IEnumerable<ThesisDatenbank.Models.Thesis>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thesen</h1>
<p>
    <a asp-action="Create">Neue Thesis anlegen</a>
</p>
<hr />
<details>
    <summary>Ausklappen von <h3>Filteroptionen</h3></summary>
    @using (Html.BeginForm("Index", "Theses", FormMethod.Get)){
        <div class="col-md-4">
            <div class="mb-3">
                <label for="ChairFilter" class="form-label">Lehrstuhl</label>
                <select name="ChairFilter" id="ChairFilter" class="form-control" asp-items="ViewBag.ChairFilter">
                    <option value="">--- Nicht Filtern ---</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="StudentFilter" class="form-label">Bearbeiter</label>
                <input name="StudentFilter" id="StudentFilter" type="text" value="@ViewBag.StudentFilter" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="TitleFilter" class="form-label">Titel</label>
                <input name="TitleFilter" id="TitleFilter" type="text" value="@ViewBag.TitleFilter" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="submit" value="Filter anwenden" class="btn btn-primary" />
            </div>
        </div>
    }
</details>
<hr />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filing)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("IndexPartial", Model, ViewData)
    </tbody>
</table>

@section Scripts {
    <script>
        function loadmore() {
            $.get("@Url.Action("LoadMoreTheses")", {
                from: $("#LoadButton").attr("data-from"),
                length: $("#LoadButton").attr("data-length"),
            },
                function (data, status, jq) {
                    $("#LoadRow").replaceWith(data);
                })
        }
    </script>
}
