@model IEnumerable<ThesisDatenbank.Models.Thesis>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supervisor.FirstName) @Html.DisplayFor(modelItem => item.Supervisor.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filing)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Gutachten ansehen</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Löschen</a>
        </td>
    </tr>
}

@if (ViewBag.More)
{
    <tr id="LoadRow">
        <td colspan="7">
            <button id="LoadButton" onclick="loadmore()" data-from="@ViewData["From"]" data-length="@ViewData["Length"]" data-chair="@ViewData["ChairString"]" data-student="@ViewData["StudentFilter"]" data-title="@ViewData["TitleFilter"]" class="btn btn-primary">Weitere anzeigen ...</button>
        </td>
    </tr>
}
