@model IEnumerable<ThesisDatenbank.Models.Thesis>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thesen</h1>
<p>
    <a asp-action="Create">Neue Thesis anlegen</a>
</p>
<div class="mb-3">
    <hr />
    <h3>Filteroptionen</h3>
    <label for="list">Datum / Lehrstuhl:</label>
    <select name="list" id="list">
        <option value="date" selected="selected">Datum</option>
        <option value="chair">Lehrstuhl</option>
    </select><br />
    <label for="supervisor">Name des Betreuers:</label>
    <input type="text" id="supervisor" name="supervisor" /><br />
    <label for="title">Titel der Thesis:</label>
    <input type="text" id="title" name="title" /><br />
    <button id="filter" onclick="filter()" class="btn btn-primary">Filter anwenden</button>
    <hr />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filing)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("IndexPartial", Model, ViewData)
    </tbody>
</table>

@section Scripts {
    <script>
        function loadmore() {
            $.get("@Url.Action("GetTheses")", {
                from: $("#LoadButton").attr("data-from"),
                length: $("#LoadButton").attr("data-length"),
            },
                function (data, status, jq) {
                    $("#LoadRow").replaceWith(data);
                })
        };
    </script>
}
