@model IEnumerable<ThesisDatenbank.Areas.Identity.Data.AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nutzer</h1>
<p>
    <a asp-area="Identity" asp-page="/Account/Register">Neuen Nutzer anlegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chair)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chair.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a>
                </td>
            </tr>
        }
    </tbody>
</table>
